/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  background-color: #141414;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

#search-bar {
  padding: 10px;
  width: 300px;
  margin-top: 20px;
  font-size: 1.2rem;
}

#genre-filter {
  padding: 10px;
  width: 250px;
  margin-top: 20px;
  font-size: 1.2rem;
}

#movie-container {
  padding: 20px;
}

#banner {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

#movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.movie-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.movie-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#popular-content, #movie-details {
  margin-top: 30px;
}

#pagination {
  margin-top: 30px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 50px;
  background-color: #141414;
  padding: 10px;
}

@media (max-width: 768px) {
  #movie-list {
    grid-template-columns: 1fr 1fr;
  }

  .movie-item img {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  #movie-list {
    grid-template-columns: 1fr;
  }

  .movie-item img {
    max-height: 200px;
  }
}
